<div id="search">

	<input type="text" name="search-field" value="Search for a movie">
	<button type="button" class="btn search-box">Search</button>
	
	
</div>

<div id="categories">

	<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  <label class="btn btn-secondary active">
	    <input type="radio" name="options" id="option1" autocomplete="off" > Title
	  </label>
	  <label class="btn btn-secondary">
	    <input type="radio" name="options" id="option2" autocomplete="off"> Release Date
	  </label>
	  <label class="btn btn-secondary">
	    <input type="radio" name="options" id="option3" autocomplete="off"> Genre
	  </label>
	</div>

</div>

<div id="movie-list">


</div>
