<% current_user %>

	<div class="col-sm-2" style="border-style: solid;">
		<br>
		<div class="row">
			<%= link_to "Edit Reviews", settings_editReviews_path %>
		</div>
		<br>
		<div class="row">
			<%= link_to "Edit User Info", settings_editUser_path %>
		</div>
	</div> 
		