@import "bootstrap-sprockets";
@import "bootstrap";



.search-box{
	background-color: #f7f7f7;
	outline: solid;
	outline-color: #e7e7e7;
}

.star{
	color: gold;
}

#notice{
	color: green;
}

#error{
	color: red;
}